*{
	border-style: none;
    border-color: inherit;
    border-width: 0;
    margin: 0 0 0 36px;
    padding: 0;
    text-align: left;
}

article
{
	color:#D30808;
	border-radius:05em;
	margin:0.5em;
	padding:0.5em;
	text-align:left;
	width:95%
}

body
{

	background:  url(../imagenes/fondo.jpg);

}
fieldset /*linea naranja en la tabla de contacto*/
{
	border:.1em solid#F60;
	border-radius: 1em;
	text-align:center;
	padding: 0.8em;
}
header
{
	background: #000000;
}
h3
{
	color:#F90;
	font-family: Helvetica, Verdana;
	
}
h3
{
	text-shadow:5px 5px 10px rgba(255,255,255,.7);	
}

nav
{
	background: #FFFFFF;
	color: #238276;
	display: inline-block;
	vertical-align: top;
	font-size: 1em;
	max-width: 100%;
	


}

section#infoform
{

	background: #ffffff;
	max-width: 95%;
	margin: 0px auto;
	border-radius: 1em;
	min-height:700px;
	padding: 1em;


}

section#contenido,footer,header
{
	background:#ffffff;
	margin: 0 auto;
	max-width: 90%;
	text-align: center;
	border-radius: 1em;
}

footer
{
	
	font-family: Helvetica, Verdana;
	
}
section#registro,section#info,aside
{

	background: #ffffff;
	display: inline-block;
	width: 55%;
	border-radius: 1em;

	
	
	

}

section#registro
{
	margin-right: 28.5em;
}

aside
{
	max-width:960px;
	min-height: 400px;
	width: 40%;
	vertical-align: top;
		 
}


article#galeria
	{
		
		width:96%;
		padding:0.5em;

	}
section#contenido
{
	background: #238276;
		margin-bottom:0.2em;


	
}
section#principal
	{
		
		background:#89D51E;
	border-radius:0.5em;
	display:block;
	margin:0 auto;
	max-width:100%;
	
	vertical-align:center;
	width:100%;


	}

