﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="CTPI_PROYECTOS_SLN_Plantilla.Master.cs" Inherits="CTPI_PROYECTOS_SLN.Site1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>


    <title> Gesti&oacute;n de Proyectos </title>
	<meta charset="utf-8"/>
	<meta name="description" content="portafolio web"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/> 
	<link rel="stylesheet" href="css/flexslider.css"/>
	<link rel="stylesheet" href="css/estilos.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"> </script>

	<script src="js/jquery.flexslider.js"></script>
	<script>	    /*este secript me permite hacer funcionar el pluging*/
	    $(window).load(function () {
	        $(".flexslider").flexslider();
	    });
	</script>
	<!--cuando el navegador intenet explorer es inferior a 9 -->
	<!--[if it IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
	
	<![endif]-->


</head>
<body style="height: 241px">
    

     <form id="form1" runat="server">

<section id = "contenido">
		<section id ="principal">
			<article id ="galeria">

				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="imagenes/sena11.png"/></a>
							<p class="flex-caption">sena1</p>
						</li>
						<li>
							<img src="imagenes/sena2.png"/></a>
							<p class="flex-caption">sena2</p>
							
						</li>
						
					</ul>
				</div>

			</article>	

		</section>
			</br>
		<section id="infoform"  >
	<style>
	    {background: #ffffff; max-width: 95%; margin: 0px auto; border-radius: 1em;min-height:700px; padding: 1em;}</style>

			 
			 	<legend><h3>Formularios</h3></legend>
                 <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
          
            <p>
            </p>
            <p>
            </p>
        
        </asp:ContentPlaceHolder>
		</section>

	  		


	</section>


       
		 </form>



</body>

<footer>
	<marquee><h3>ESPECIALIZACIÒN EN METODOLOGIAS DE CALIDAD PARA EL DESARROLLO DE SOFTWARE</h3></marquee>
</footer>

</html>
