﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CTPI_PROYECTOS_SLN_Plantilla.Master" AutoEventWireup="true" CodeBehind="frmProgramaFormacion.aspx.cs" Inherits="CTPI_PROYECTOS_SLN.frmProgramaFormacion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Panel ID="Panel1" runat="server" GroupingText="Programas de formación" Height="400px">
        <table class="style11">
            <tr>
                <td ID="lblFicha">                
                   Ficha</td><!-- <asp:Label ID="lblFicha" runat="server" Text="Ficha"></asp:Label>-->                                
            </tr>
            
        </table>
    </asp:Panel> 
</asp:Content>
